.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 69.7px;
}

.header-nav__list{
    color: #2B3F5B;
    display: flex;
    gap: 24px;

}
.header-nav__link {
    font-weight: 400;
    size: 16px;
    line-height: 19px;
    text-decoration: none;
}
.web-settings{
    display: flex;
    height: 40px;
    width: 376px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.light-theam{
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 39px;
    background-color: var(--primary-color);
}
.light-team__img{
    position: absolute;
    top: 5px;
    right: 5px;
}
.page-theam {
    display: flex;
    gap: 10px;
}
.dark-theam {
    position: relative;
    width: 11px;
    height: 11px;
}
.dark-theam__img{
    position: absolute;
     top: 8px;
}